.App {
  text-align: center;
}

.AddForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddForm input[type="text"],
textarea {
  width: 100%;
  padding: 5px 20px;
  margin: 20px 0;
  box-sizing: border-box;
}

.AddForm input[type="submit"] {
  border: 0;
  background-color: purple;
  color: white;
  text-align: center;
  width: 20%;
  padding: 5px 0;
  border-radius: 12px;
}

.NoteCard h1{
  background-color:purple;
}